head
  title hackmcgill
  script(src="http://code.jquery.com/jquery-3.3.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js")
  script(src="/js/vanta.birds.js")
  script(src="/js/splash.js")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
  link(rel="stylesheet" href="/css/splash.css")
body#main
  div.main
    .container
      .window
        .terminal
          .terminal-output
            span(style='text-align: center; line-height:5px; font-size: 5px; font-weight:bold;white-space:pre;font-family: monospace; color:red')
              |
              |
              |
              |
              |
              |
              |hhhhhhh                                                   kkkkkkkk                                                                                  iiii  lllllll lllllll 
              |h:::::h                                                   k::::::k                                                                                 i::::i l:::::l l:::::l 
              |h:::::h                                                   k::::::k                                                                                  iiii  l:::::l l:::::l 
              |h:::::h                                                   k::::::k                                                                                        l:::::l l:::::l 
              |h::::h hhhhh         aaaaaaaaaaaaa       cccccccccccccccc k:::::k    kkkkkkk        mmmmmmm    mmmmmmm       cccccccccccccccc   ggggggggg   gggggiiiiiii  l::::l  l::::l 
              |h::::hh:::::hhh      a::::::::::::a    cc:::::::::::::::c k:::::k   k:::::k       mm:::::::m  m:::::::mm   cc:::::::::::::::c  g:::::::::ggg::::gi:::::i  l::::l  l::::l 
              |h::::::::::::::hh    aaaaaaaaa:::::a  c:::::::::::::::::c k:::::k  k:::::k       m::::::::::mm::::::::::m c:::::::::::::::::c g:::::::::::::::::g i::::i  l::::l  l::::l 
              |h:::::::hhh::::::h            a::::a c:::::::cccccc:::::c k:::::k k:::::k        m::::::::::::::::::::::mc:::::::cccccc:::::cg::::::ggggg::::::gg i::::i  l::::l  l::::l 
              |h::::::h   h::::::h    aaaaaaa:::::a c::::::c     ccccccc k::::::k:::::k         m:::::mmm::::::mmm:::::mc::::::c     cccccccg:::::g     g:::::g  i::::i  l::::l  l::::l 
              |h:::::h     h:::::h  aa::::::::::::a c:::::c              k:::::::::::k          m::::m   m::::m   m::::mc:::::c             g:::::g     g:::::g  i::::i  l::::l  l::::l 
              |h:::::h     h:::::h a::::aaaa::::::a c:::::c              k:::::::::::k          m::::m   m::::m   m::::mc:::::c             g:::::g     g:::::g  i::::i  l::::l  l::::l 
              |h:::::h     h:::::ha::::a    a:::::a c::::::c     ccccccc k::::::k:::::k         m::::m   m::::m   m::::mc::::::c     cccccccg::::::g    g:::::g  i::::i  l::::l  l::::l 
              |h:::::h     h:::::ha::::a    a:::::a c:::::::cccccc:::::ck::::::k k:::::k        m::::m   m::::m   m::::mc:::::::cccccc:::::cg:::::::ggggg:::::g i::::::il::::::ll::::::l
              |h:::::h     h:::::ha:::::aaaa::::::a  c:::::::::::::::::ck::::::k  k:::::k       m::::m   m::::m   m::::m c:::::::::::::::::c g::::::::::::::::g i::::::il::::::ll::::::l
              |h:::::h     h:::::h a::::::::::aa:::a  cc:::::::::::::::ck::::::k   k:::::k      m::::m   m::::m   m::::m  cc:::::::::::::::c  gg::::::::::::::g i::::::il::::::ll::::::l
              |hhhhhhh     hhhhhhh  aaaaaaaaaa  aaaa    cccccccccccccccckkkkkkkk    kkkkkkk     mmmmmm   mmmmmm   mmmmmm    cccccccccccccccc    gggggggg::::::g iiiiiiiillllllllllllllll
              |                                                                                                                                         g:::::g                         
              |                                                                                                                             gggggg      g:::::g                         
              |                                                                                                                             g:::::gg   gg:::::g                         
              |                                                                                                                             g::::::ggg:::::::g                           
              |                                                                                                                             gg:::::::::::::g                             
              |                                                                                                                             ggg::::::ggg                                 
              |                                                                                                                               gggggg                                      
              |              @== #@@@@#=@                                                         
              |            # # #   # @@    #                                                        
              |         #@  #  @   #@@  @@##=                                                       
              |      @#    @   @ @    @    # #                                                      
              |         ##    @@@      @ #   @                                                      
              |         @   @==@@    @==@#    @                           @#@@#=                    
              |         =    @    #@  #     #@#                     @#@    #  @                     
              |           @@ @#@     @    @#@=# #@            @#@       #   @                       
              |             =@ @####@=#    @@  #    @#  @#@          #@    #                        
              |            # @      #     #    @     @=                        ##@                  
              |           @   #     @   @@      #   #                     @#@  #                    
              |           @    #   #   #         @ #   @              @#     @                      
              |          #      #  # @           =@    #          @#        #                       
              |         @#@      @@ #     @##@  #  #   #      ##          #                         
              |          #    @###+###@        #     #@#  #@       @@@##=#                          
              |           #      # #          #       #*=            @# # #                         
              |            #    #   #        #     #@  #  #@       #   #   @@                       
              |             #  #      #     #   #      @     #  #      @     ########@@@      @#    
              |              ##        @@  @@#         @   @#@ #      #       @@@#          #@      
              |               @=  @@#####++=########@@@*=#@      =   @          #   @#@   #         
              |             @#     #@  @#@       # #     ##@  @ #          @*#####*#@          
              |                     @# #  #      #@ #    @         =**+=@        @  @#    #         
              |                      @=@@#*####@@  #*#@  #     ##             @##=+         =       
              |                     =  # @@@@      # #  @==#@                        #@       #     
              |                     @# @ #   #@   #   #   ##@                            #@    @@   
              |                        #+      #  #    #  #  @@                              #@  #  
              |                         #       @+@     # #   #@                                 ##=
              |                        #  @##@      @=@  ## =                                       
              |                                 #*                                                   
            span.afterLogo
              |   Usage: subscribe [email address]
          .terminal-input
            span.path
              i.red
               | ~ / 
               | ❯ 
               | ❯ 
            form(id="inputForm" method="post" action="/")
              input#cmd(type="text" name="command" autofocus=true value="subscribe " onfocus="this.setSelectionRange(this.value.length,this.value.length);" autocomplete="off" tabIndex=1)
  div.center
    footer.footer
      .content.has-text-centered
        p(class="large text")
          span(style="font-size: 3em; color: white;")
            a(class="aLink" href="https://fb.com/HckMcGll")
              i(class="link fab fa-facebook-square") 
            a(class="aLink" href="https://twitter.com/mcgillhacks")
              i(class="link fab fa-twitter-square")
            a(class="aLink" href="https://instagram.com/mcgillhacks")
              i(class="link fab fa-instagram") 
            a(class="aLink" href="https://github.com/hackmcgill")
              i(class="link fab fa-github-square") 
            a(class="aLink" href="https://medium.com/@hackmcgill")
              i(class="link fab fa-medium") 
            a(class="aLink" href="mailto:contact@mchacks.ca")
              i(class="link fas fa-envelope-square") 
