head
  title hackmcgill
  script(src="http://code.jquery.com/jquery-3.3.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js")
  script(src="/js/vanta.birds.js")
  script(src="/js/splash.js")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
nav.navbar
  div.navbar-brand
    h1 hackmcgill
  div.navbar-menu
    div.navbar-end
      div.navbar-item
        i(class="fab fa-facebook")
      div.navbar-item
        i(class="fab fa-twitter-square")
      div.navbar-item
        i(class="fab fa-instagram")
      div.navbar-item
        i(class="fab fa-github")

body
  div#main
