#main{
  background-color:lightblue;
  background-position: bottom center;
  background-size: 85%;
  background-repeat: no-repeat;
}

html{
  color:red;
}
.center {
  width:100%;
  text-align: center;
}
.link {
  padding-right: 30px;
}
.footer {
  margin-top: 15px;
  background-color: transparent;
  padding-bottom: 0px;
  text-align: center;
  text-size: 30px;
  background: rgba(0, 0, 0, 0.85);
    border: 1px #E7E6E7 solid;
  display:inline-block;
  box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.75);

}

.afterLogo {
  display: inline-flex;
  font-size: 0.85em;
  text-align: center;
  color: white;
}
.container {
  width: 100%;
  padding-top: 5%;
}
.window {
  width: 90vw;
  margin: 0 auto;
  border: 1px #E7E6E7 solid;
  box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  resize: both;
}
@media screen and (min-width: 360px) {
  .window {
    width: 90vw;
  }
}
@media screen and (min-width: 800px) {
  .window {
    width: 70vw;
  }
}
@media screen and (min-width: 1200px) {
  .window {
    width: 55vw;
  }
}

.window .terminal {
  overflow: hidden;
  height: 64vh;
  background: rgba(0, 0, 0, 0.85);
  color: white;
}
.window .terminal .terminal-output {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 0.75rem;
  overflow: hidden;
}
.window .terminal .terminal-output .cmd-container {
  padding-top: 1em;
}
.window .terminal .terminal-output .cmd-container span.eval {
  font-size: 0.85em;
}
.window .terminal .terminal-input {
  display: flex;
  align-item: flex-start;
  padding: 0.75em 0;
  margin-left: 0.75em;
}
.window .terminal .terminal-input form {
  margin-top: -2px;
}
.window .terminal .terminal-input form input#cmd {
  font-size: 0.85em;
  margin: 0;
  width: 50vw;
  padding: 0 0 0 5px;
  line-height: 1.25;
  border: none;
  outline: none;
  background: transparent;
  color: white;
}


.path {
  display: inline-flex;
  font-size: 0.85em;
  margin-right: 5px;
}
.path i.blue {
  color: cyan;
  margin-right: 5px;
}
.path i.red {
  color: #FF6059;
}
.path i.yellow {
  color: #FFBD2E;
}
.path i.green {
  color: #29C941;
}
